{#
  - PROJNAME: project name in uppercase
  - projname: project name in lowercase
  - module.name: main module name
#}

add_executable({{ module.name }}_test)

target_sources({{ module.name }}_test
  PRIVATE
    test_main.cpp
)

target_link_libraries({{ module.name }}_test
  PRIVATE
    doctest
)

{{ projname }}_common_compile_configs({{ module.name }}_test)

{{ projname }}_clang_tidy_on_build({{ module.name }}_test)

{{ projname }}_use_sanitizers({{ module.name }}_test)

get_target_property({{ module.name }}_test_FILES {{ module.name }}_test SOURCES)
source_group(TREE ${CMAKE_CURRENT_SOURCE_DIR} FILES  {{ '${' ~ module.name ~ '_test_FILES}' }})

add_test(NAME tests COMMAND {{ module.name }}_test)
